  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic" ngbDropdownToggle>
      <img src="../../assets/menu-bar.png" alt="menu-bar">
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <ng-container *ngIf="contriesList$ | async as contriesList; else noItem">
        <ng-container *ngFor="let item of contriesList | async">
          <li ngbDropdownItem (click)="selectCountry(item)">{{item.flag_emoji}} {{item.name}}</li>
        </ng-container>
      </ng-container>
      <ng-template #noItem>
        <li>{{selectedCountryCode}}</li>
      </ng-template>
    </ul>
  </div>